{{ template "header" . }}
<div id="admin">
    {{ if .Active }}
    <div class="alert alert-info">
        <h4>
            <div class="icon-exclamation-sign icon-white" style="position:relative;top:3px;"></div>
            HEADS UP: the competition is LIVE
        </h4>
    </div>
    {{ end }}
    <form class="span6" onsubmit="return false">
        <h3>THE FORM OF ULTIMATE DESTINY</h3>
        <select class="select" id="week">
        {{ range .Challenges }}
            <option value="{{ .Week }}">{{ .Name }} (Week {{ .Week }})</option>
        {{ end }}
        </select><br />
        <button id="thebutton" class="btn">THE RELEASE BUTTON</button>
    </form>
    <form class="span4" method="POST">
        <h3>THE LESS EXCITING FORM</h3>
        <input type="text" placeholder="Name" name="name" /><br />
        <input type="number" class="span" value="0" name="week" /><br />
        <input class="btn" type="submit" value="Save" />
        <input type="hidden" name="post" value="challenge" />
    </form>
    <table class="table" id="submissions">
        <tr>
            <th>User</th>
            <th>Submission</th>
            <th>Options</th>
        </tr>
    {{ range .Submissions }}
        <tr>
            <td class="user">{{ . }}</td>
            <td class="download"><a href="/download?user={{ . }}">Download</a></td>
            <td class="options"><a href="#">Approve</a> | <a href="#">Reject</a></td>
        </tr>
    {{ end }}
    </table>
    <script>
        ws.onmessage = function(e){
            console.log(e)
        }
        $('#thebutton').click(function(){
            ws.send(JSON.stringify({key: 'release', value: $('#week').val()}));
        });

        $('#submissions a').click(function(){
            var parent = $(this).closest('tr');
            var user = parent.find('.user').html();
            ws.send(JSON.stringify({key: $(this).html().toLowerCase(), value: user}))
            if($(this).html() == 'Approve'){
                parent.addClass('approved');
                parent.find('.options').html('');
            } else {
                parent.fadeOut(function(){
                    $(this).remove();
                })
            }
        });
    </script>
</div>
{{ template "footer" . }}