{{ template "header" . }}
<div id="admin">
    {{ if .Active }}
    <div class="alert alert-info">
        <h4>
            <div class="icon-exclamation-sign icon-white" style="position:relative;top:3px;"></div>
            HEADS UP: the competition is LIVE
        </h4>
    </div>
    {{ end }}
    <form class="span6" onsubmit="return false">
        <h3>THE FORM OF ULTIMATE DESTINY</h3>
        <select class="select" id="week">
        {{ range .Challenges }}
            <option value="{{ .Week }}">{{ .Name }} (Week {{ .Week }})</option>
        {{ end }}
        </select><br />
        <button id="thebutton" class="btn">THE RELEASE BUTTON</button>
    </form>
    <form class="span4" method="POST">
        <h3>THE LESS EXCITING FORM</h3>
        <input type="text" placeholder="Name" name="name" /><br />
        <input type="number" class="span" value="0" name="week" /><br />
        <input class="btn" type="submit" value="Save" />
        <input type="hidden" name="post" value="challenge" />
    </form>
    <table class="table">
        <tr>
            <th>User</th>
            <th>Submission</th>
            <th>Actions</th>
        </tr>
    {{ range .Submissions }}
        <tr>
            <td>{{ . }}</td>
            <td><a href="/download?user={{ . }}">Download</a></td>
            <td><a href="#">Approve</a> | <a href="#">Reject</a></td>
        </tr>
    {{ end }}
    </table>
    <script>
        ws.onmessage = function(e){
            console.log(e)
        }
        $('#thebutton').click(function(){
            ws.send(JSON.stringify({key: 'release', value: $('#week').val()}));
        });
    </script>
</div>
{{ template "footer" . }}