{{ template "header" . }}
{{ if .List }}
<h1>Past Challenges</h1>
{{ with $x := . }}
    {{ range .Past }}
    <div class="past">
            <h3><a href="{{ $x.Root }}/challenge?week={{ .Week }}">Week {{ .Week }}: {{ .Name }}</a></h3>
            Description...
        </a>
    </div>
    {{ end }}
{{ end }}
{{ else }}
<div class="span8">
    <h1>Week {{ .Week }}: {{ .Name }}</h1>
    Description...
</div>
{{ if .Active }}
<div class="span2">
    <h1>Submit</h1>
    <form action="{{ .Root }}/submit" method="post" enctype="multipart/form-data">
        <input type="file" name="submission" />
        <input type="submit" value="Submit" class="btn" />
        <input type="hidden" name="post" value="upload" />
    </form> 
</div>
{{ end }} 
{{ end }}
{{ template "footer" . }}