{{ template "header" . }}
       <div class="row">
            <div class="span4">
                <h1>Leaderboard</h1>
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Andrew</th>
                        <th>Score</th>
                    </tr>
                    {{ with .Scores }}
                        {{ range . }}
                    <tr>
                        <td>{{ .Place }}</td>
                        <td>{{ .Andrew }}</td>
                        <td>{{ .Score }}</td>
                    </tr>
                        {{ end }}
                    {{ end }}
                </table>
            </div>
            <div class="span8">
                <h1>Announcements</h1>
                Lorem ipsum dolor sit bacon.
            </div> 
       </div>
       <script>
            ws.onmessage = function(e){
                var data = JSON.parse(e.data);
                switch(data.Key){
                    case "release":
                        window.location = "{{ .Root }}/challenge";
                        break;
                }                
            }
       </script>
{{ template "footer" . }}